<md-card>
  <h1 *ngIf="timeRemaining">{{timeRemaining}}</h1>
  <h2 *ngIf="alarmTime">Timer will go off at {{alarmTime}}</h2>
  <md-input-container mdTooltip="Enter a duration in hours">
    <input type="tel" pattern="[0-9]*"
            mdInput placeholder="Hours"
            [(ngModel)]="inputHours"
            (keyup)="validateHoursInput()">
  </md-input-container>
  <md-input-container mdTooltip="Enter a duration in minutes">
    <input type="tel" pattern="[0-9]*"
            mdInput placeholder="Minutes"
            [(ngModel)]="inputMinutes"
            (keyup)="validateMinutesInput()">
  </md-input-container>
  <button md-mini-fab (click)="setTimer()"><md-icon>check</md-icon></button> <!-- TODO: Gabe - Change to SVG -->
  <button *ngIf="!timerRunning && timerDuration" md-mini-fab (click)="startTimer()"><md-icon>timer</md-icon></button>
  <button *ngIf="timerRunning" md-mini-fab (click)="stopTimer()"><md-icon>timer</md-icon></button>
</md-card>
